<%= form_for @signup,  :html => { :multipart => true } do |f| %>
  <% if @signup.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @signup.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :role %><br />
    <%= f.text_field :role %>
  </p>
	<%= f.hidden_field :event_id, :value => @e.id %>

  <p class="button"><%= f.submit %></p>
<% end %>