= form_for @user, :url => @url_path, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :year_in_school
    %br/
    = f.text_field :year
  %p
    = f.label :position
    %br/
    = f.text_field :position
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %p.button= f.submit
