= form_for @user, :url => @url_path, :html => { :multipart => true } do |f|
  - if @user.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message
  %p
    = f.text_field :email, :onfocus => "clearfield(this)", :onblur => "resetfield(this)"
  %p
    = f.text_field :name, :onfocus => "clearfield(this)", :onblur => "resetfield(this)"
  %p
    = f.text_field :year, :onfocus => "clearfield(this)", :onblur => "resetfield(this)"
  %p
    = f.text_field :position, :onfocus => "clearfield(this)", :onblur => "resetfield(this)"
  %p
    = f.text_field :password, :value => "password", :onfocus => "pwclearfield(this)", :onblur => "pwresetfield(this)"
  %p
    = f.text_field :password_confirmation, :value => "confirm password", :onfocus => "pwclearfield(this)", :onblur => "pwresetfield(this)"
  %p
    %button{:type => "submit", :class => "positive"}
      = image_tag("sky/check.png", :class => "button")
      Update User
