%h1 User Settings
- current_user.signups.each do |s|
  - if Event.exists? s.event_id
    - e = Event.find(s.event_id)
    %p
      = link_to e.title, events_show_path(e)
      \: #{e.event_start.strftime("Start: %a %d %b - %I:%M %p")} : Role: #{s.role} : Attended: #{s.attended}
= render 'form'
