<div id="posts">
<% if Post.exists? %>
<% recent_posts.each do |p| %>
<div class="post_time"><%= p.created_at.strftime("%B %e")%></div>
<div class="post_title"><%= p.title %></div>
<% if p.photo_file_name  != nil %>
	<div class="post_img"><%= image_tag p.photo.url(:small) %></div>
<% end %>
<div class="post_content">
  <%= p.content %>
</div>
<% if current_user %>
<%= link_to "Edit", edit_post_path(p) %>
<%= link_to "Destroy", post_path(p), :method => "delete" %>
<% end %>
<% end %>
</div>
<% end %>


