- if Post.exists?
  - recent_posts.each do |p|
    .post
      .time= p.created_at.strftime("%B %e")
      %h1= p.title
      .content
        = h(p.content.html_safe)
      - if current_user
        .option
          = link_to "Edit", edit_post_path(p)
        .option
          = link_to "Delete", post_path(p), :method => "delete"
- if current_user
  = link_to 'Create New Post', new_post_path
