<% if Post.exists? %>
<% recent_posts.each do |p| %>
<div class="post">
  <div class="post_time"><%= p.created_at.strftime("%B %e")%></div>
  <h1><%= p.title %></h1>
  <div class="content">
    <%= render :inline => p.content %>
  </div>
  <% if current_user %>
  <div class="option">
    <%= link_to "Edit", edit_post_path(p) %>
  </div>
  <div class="option">
    <%= link_to "Delete", post_path(p), :method => "delete" %>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<% if current_user %>
<%= link_to 'Create New Post', new_post_path %>
<% end %>

