- posts = recent_posts
- if posts
  - posts.each do |p|
    .post
      .time= p.created_at.strftime("%B %e")
      %h1= p.title
      .content
        = h(p.content.html_safe)
        %p
        Posted by
        = p.author.name
      - if current_user
        .option
          = link_to "Edit", edit_post_path(p)
        .option
          = link_to "Delete", post_path(p), :method => "delete"
  = will_paginate posts, :class => "post_pagination"

- if current_user
  = link_to 'Create New Post', new_post_path
