#posts
  - if Post.exists?
    - recent_posts.each do |p|
      .post_time= p.created_at.strftime("%B %e")
      .post_title= p.title
      - if p.photo_file_name  != nil
        .post_img= image_tag p.photo.url(:small)
      .post_content
        = p.content
      - if current_user
        = link_to "Edit", edit_post_path(p)
        = link_to "Destroy", post_path(p), :method => "delete"
