= form_for @e, :url => @url_path,  :html => { :multipart => true } do |f|
  - if @e.errors.any?
    .error_messages
      %h2 Form is invalid
      %ul
        - for message in @e.errors.full_messages
          %li= message
  %p
    #label
      = f.label :title
    = f.text_field :title
  %p
    #label
      = f.label :location
    = f.text_field :location
  %p
    #label
      = f.label :description
    %br/
    = f.text_area :description
  %p
    #label
      = f.label :event_start
    = f.datetime_select :event_start
  %p
    #label
      = f.label :event_end
    = f.datetime_select :event_end
  %p.button= f.submit
