%h1 All Events
- @e.each do |e|
  .event
    %h2= link_to e.title, events_show_path(e)
    .location
      = e.location
    .time
      = e.event_start.strftime("%m/%d, %l:%M %p")
      = e.event_end.strftime("- %l:%M %p")
    .description
      = e.description
%div.option
  - if current_user
    = link_to 'Create New Event', events_new_path

%div.option
  = link_to "View Calendar", calendar_path
