<% @e.each do |e|%>
<div class="event_title"><%= link_to e.title, event_path(e) %></div>
<div class="event_location">
  <%= e.location %>
</div>
<div class="event_description">
  <%= e.description %>
</div>
<div class="event_time">
  <b><%= e.event_start.strftime("Start: %a %d %b - %I:%M %p") %></b>
  <br />
  <b><%= e.event_end.strftime("End: %a %d %b - %I:%M %p") %></b>
</div>
<% end %>
<br />
<br />
<%= link_to 'Back', :back %>
