<h1>All Events</h1>
<% @e.each do |e|%>
<div class="event">
  <h2><%= link_to e.title, event_path(e) %></h2>
  <div class="location">
    <%= e.location %>
  </div>
  <div class="time">
    <%= e.event_start.strftime("%m/%d, %l:%M %p") %>
    <%= e.event_end.strftime("- %l:%M %p") %>
  </div>
  <div class="description">
    <%= e.description %>
  </div>
</div>
<% end %>
<% if current_user %>
<%= link_to 'Create New Event', new_event_path %>
<% end %>

