<h1><%= @e.title %></h1>
<div class="event">
  <div class="location">
    <%= @e.location %>
  </div>
  <div class="time">
    <%= @e.event_start.strftime("%m/%d, %l:%M %p") %>
    <%= @e.event_end.strftime("- %l:%M %p") %>
  </div>
  <div class="description">
    <%= @e.description %>
  </div>
</div>

<% if current_user %>
<% if Signup.where(:event_id => @e.id).length > 0 %>
<h2>Attending</h2>
<% if has_permission %>
<p>
  You can click the email addresses to change the "attended" flag
</p>
<% end %>
<% end %>

<% if Signup.exists? %>
<% @e.users.each do |u| %>
<% s = u.signups.where(:event_id => @e.id).first%>
<% if has_permission %>
<%= link_to u.email, user_signup_mark_path(u, s.id), :method => "post" %> - Attended: <%= s.attended %>
<% else %>
<%= link_to u.email, user_signup_mark_path(u, s.id), :method => "post" %> - Attended: <%= s.attended%>
<% end %>
<br/>
<% end %>
<% end %>

<div class="option">
  <%= link_to "Edit", edit_event_path(@e) %>
</div>
<div class="option">
  <%= link_to "Delete", event_path(p), :method => "delete" %>
</div>
<% end %>
