%h1 About Us
= link_to image_tag("sky/club_picture-sm.jpg", :title => "IEEE Officer Corps 2010", :alt => "IEEE Officer Corps 2010", :id => "club_picture"), image_path("sky/club_picture.jpg")

= link_to "Current Officers", statics_officers_path

%p #{link_to "Our Constitution", "ieeeconstitution.pdf"}

%p This is the U.C. Berkeley IEEE Student Branch, part of Region 6 (US - West). As an active organization on campus, we provide lab services, promote student professional awareness, participate in high school outreach programs, play a role as a backbone for student-industry networking, and plan student social activities to maintain balance with the technical atmosphere.

%p IEEE is an acronym standing for Institute of Electrical and Electronics Engineers.

%p It is an international organization with over 350,000 members, but we here at UC Berkeley can promote services and organize activities locally. Visit #{link_to "www.ieee.com", "http://www.ieee.com"} to explore one of the best websites for electrical engineers and those interested in the field.
%p
  Mailing address:
  %blockquote
    IEEE Student Chapter
    %br/
    246 Cory Hall
    %br/
    Berkeley, CA 94720
    %br/
    Lab: 246 Cory Hall
    %br/
%p
  Email address:
  %blockquote
    = mail_to "ieee@berkeley.edu"

