:javascript
	$(document).ready(function() {
		$('.execs').last().css('padding-right', '0px');
		$('.activities').last().css('padding-right', '0px');
		$('.hope').last().css('padding-right', '0px');
		$('.indrel').last().css('padding-right', '0px');
		$('.io').last().css('padding-right', '0px');
		$('.prodev').last().css('padding-right', '0px');
		$('.techops').last().css('padding-right', '0px');
		$('.website').last().css('padding-right', '0px');
	});
%h1 Executives
%hr
%br
- @execs.each do |officer|
	.officer.execs
		=image_tag("officer_pictures/#{officer[0].split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer[0]
			%br
			= officer[1]
%br 
%br 
%h1 Activities
%hr
%br
- @activities.each do |officer|
	.officer.activities
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @activities.index(officer) == 0
				%br
				Director
%h1 HOPE
%hr
%br
- @hope.each do |officer|
	.officer.hope.officer_three
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @hope.index(officer) == 0
				%br
				Director
%br 
%br
%h1 Industrial Relations
%hr
%br
- @indrel.each do |officer|
	.officer.indrel
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @indrel.index(officer) == 0
				%br
				Director
%br 
%br
%h1 IO
%hr
%br
- @io.each do |officer|
	.officer.io
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @io.index(officer) == 0
				%br
				Director
%h1 Professional Development
%hr
%br
- @prodev.each do |officer|
	.officer.prodev.officer_four
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @prodev.index(officer) == 0
				%br
				Director
%h1 Technical Operations
%hr
%br
- @techops.each do |officer|
	.officer.techops.officer_six	
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @techops.index(officer) == 0
				%br
				Director
%h1 Website
%hr
%br
- @website.each do |officer|
	.officer.website.officer_six
		=image_tag("officer_pictures/#{officer.split(' ')[0]}.jpg", :class => "officer_pic")
		%div(class="title" style="opacity:0") 
			= officer
			- if @website	.index(officer) == 0
				%br
				Director
