<div id="navbar">
  <div id="user_nav">
    <% if User.exists? and current_user %>
    <a href="/logout" class="link_logout">LOGOUT</a>
    <a href="/users/edit" class="link_logout">USER SETTINGS</a>
    <% else %>
    <a href="/login" class="link_login">LOGIN</a>
    <% end %>
  </div>
  <div id="header">
    <div class="content">
      <div id="logo">
      <%= image_tag "sky/b_ieee_small.png" %></div>
      <ul id="navigation">
	<li>
	  <%= link_to "HOME", home_url, :class => "link1" %>
	</li>
	<li>
	  <%= link_to "EVENTS", event_path("all"), :class => "link2" %>
	</li>
	<li>
	  <%= link_to "INDUSTRIAL RELATIONS", indrel_url, :class => "link3"%>
	</li>
	<li>
	  <%= link_to "H.O.P.E.", hope_url, :class => "link4"%>
	</li>
	<li>
	  <%= link_to "ABOUT IEEE", about_url, :class => "link5"%>
	</li>
      </ul>
    </div>
  </div>
</div>
