#navbar
  #user_nav
    #flash
      - flash.each do |type, message|
        %div{:class => "message #{type}"}
          %p
            = message
    - if User.exists? and current_user
      %a.link_logout{:href => "/logout"} LOGOUT
      %a.link_logout{:href => "/users/edit"} USER SETTINGS
    - else
      %a.link_login{:href => "/login"} LOGIN
  #header
    .content
      #logo
        = link_to image_tag("sky/b_ieee_small.png"), home_url
      %ul#navigation
        %li
          = link_to "HOME", home_url, :class => "home_link"
        %li
          = link_to "EVENTS", event_path("all"), :class => "events_link"
        %li
          = link_to "INDUSTRIAL RELATIONS", statics_indrel_url, :class => "ir_link"
        %li
          = link_to "H.O.P.E.", statics_hope_url, :class => "hope_link"
        %li
          = link_to "ABOUT IEEE", statics_about_url, :class => "about_link"
