#sidebar
  %h1 Photos
  = link_to "View All Albums", photos_url, :id => "all_photos"
  #photo_wrapper
    - featured_albums.each do |a|
      = link_to image_tag(a[:thumbnail], :size => "70x70"), a[:slideshow], :class => "sidebar_thumb", :title => a[:title]
  %h1 Upcoming Events
  = link_to "View Calendar", calendar_path
  %br/
  - upcoming_events.each do |e|
    .event
      .title_wrapper
        .title
          = link_to e.title, event_path(e)
        .calendar
          %a{:href => "#"}
            = image_tag "sky/calendar.png", :title => "Add to Google Calendar", :alt => "Add to Google Calendar"
      .location
        = e.location
      .time
        = e.event_start.strftime("%m/%d, %l:%M %p")
        = e.event_end.strftime("- %l:%M %p")
      .description
        = e.description
      - if current_user
        .option
          = link_to "Edit", edit_event_path(e)
        .option
          = link_to "Delete", event_path(e), :method => "delete"
        .option
          = link_to "Sign up", new_event_signup_path(e)
