<!DOCTYPE html>
<html>
  <head>
    <title>Institute of Electrical and Electronics Engineers</title>
    <%= google_font_link_tag 'Droid Sans' %>
    <%= google_font_link_tag 'PT Sans' %>
    <%= include_stylesheets :common, :media => 'screen' %>
    <%= yield :stylesheets %>
    <%= include_javascripts :common %>
    <%= yield :javascripts %> 
  </head>
  <body>
    <div id="container">
      <%= render :partial => 'layouts/navbar' %>
      <%= render :partial => 'layouts/twocolumn' %>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div id="copyright">
	Copyright &copy; <%= Time.now.year %> UC Berkeley IEEE
      </div>
    </div>
  </body>
</html>

