!!!
%html
  %head
    = google_font_link_tag 'Droid Sans'
    = google_font_link_tag 'PT Sans'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %title Institute of Electrical and Electronics Engineers

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fb_LT/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #container
      = render :partial => 'layouts/navbar'
      = render :partial => 'layouts/twocolumn'
      .clear
    #footer
      #copyright
        Copyright &copy; #{Time.now.year} UC Berkeley IEEE
      #social
        .fb-like{"data-href" => "http://ieee.berkeley.edu/", "data-layout" => "button_count", "data-send" => "true", "data-show-faces" => "false", "data-width" => "150"}
